<div class="jumbotron login">
    <h4 id="titulo">Login Garçom</h4>
  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
      
      <div class="input-group mb-3">
          <input type="email" [(ngModel)]="cozinheiro.email" name="email" placeholder="E-mail" class="form-control" aria-label="email" required>
      </div>
      <div class="input-group mb-3">
          <input type="password" [(ngModel)]="cozinheiro.senha" name="senha" class="form-control" aria-label="senha" placeholder="Senha" required>
      </div>
      
      <button id="button" type="submit" class="btn btn-light"><img src="assets/confirm.svg" class="confirmar"></button>
  </form>
</div>