.dashbord {
    margin-top: .5%;
    width: 80%;
    background-color: #fff;
    height: 550px;
}

.titulo {
    text-align: center;
    color: #065463;
    margin-top: 2%;
    font-size: 50px;
    text-align: center;
}

.estilo {
    align-items: center;
    margin-top: 2%;
    width: 33.3%;
    height: 8px;
    background-color: #ff0040;
    margin-left: 33.3%;
}

.icone1{
    width: 90px;
    margin-left: 20%;
    margin-top: 30px;
    display: inline-block;
}

.icone2{
    width: 90px;
    margin-left: 34%;
    margin-top: 30px;
    display: inline-block;
}

.texto1{
    width: 175%;
    color: #065463; 
    margin-top: 20px;
    margin-left: 26px;
    cursor: pointer;
}

.texto2{
    color: #065463;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
