<div class="d-flex flex-row-reverse">
  <div class="p-2">
    <button type="button" routerLink="../" class="btn btn-outline-info">Ir para Home</button>
  </div>
</div>

<section class="container dashbord">
  <div class="estilo"></div>
  <div class="d-flex justify-content-center">
    <div class="d-flex p-2">
      <h2 class="titulo">Cozinha</h2>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-6" routerLink="/pedido-cozinha/aceita-pedido">
      <img class="icones" src="assets/chef-accept.svg" alt="icone-garçom">
      <p class="texto">Aceitar pedidos</p>
    </div>
    <div class="col-sm-6" routerLink="/pedido-cozinha/finalizar-pedido">
      <img class="icones" src="assets/chef-finalize.svg" alt="icone-cozinheiro">      
      <p class="texto">Finalizar pedidos</p>
    </div>
  </div>
</section>